AZURE_AI_ENDPOINT=https://<your-ai-endpoint>.cognitiveservices.azure.com/
AZURE_AI_KEY=
NEWS_API_KEY=
COSMOS_ENDPOINT=https://<your-account>.documents.azure.com:443/
COSMOS_KEY=
COSMOS_DATABASE=NewsDatabase
COSMOS_CONTAINER=Analyses
NEWS_QUERY= NLP #Generative AI
NEWS_LANGUAGE=fr
NEWS_BATCH_SIZE=5
NEWS_MAX_LOOKBACK_DAYS=29
